body {
  background-color: pink;
}

.App {
  font-size: x-large;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.Para {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

C:\Users\Rajat Singh\passwordvalidator\node_modules